@model Naloga2_Tkalcic.Models.Film
@{
    ViewData["Title"] = "Uredi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Uredi Podatke</h1>

@using (Html.BeginForm("Uredi", "Film", FormMethod.Post))
{
    @Html.EditorForModel();
    <input type="submit" class="btn btn-outline-primary" value="Potrdi">
}




