
@{
    ViewData["Title"] = "ZadnjiKorak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hvala za oddajo filma</h1>

<a class="btn btn-outline-primary" asp-area="" asp-controller="Film" asp-action="Index">Končaj</a>

